.card {
    position: relative;
    min-height: 310px;
    padding: 20px 18px;
    background:
        linear-gradient(
            145deg,
            #142538,
            #0d1b29
        );
    border: 1px solid #304357;
    border-radius: 12px;
    box-shadow:
        0 7px 18px rgba(0, 0, 0, 0.25);
    transition: 0.2s;
}

.card:hover {
    transform: translateY(-4px);
    border-color: #41627e;
    box-shadow:
        0 10px 25px rgba(0, 0, 0, 0.35);
}

.menu {
    position: absolute;
    top: 12px;
    right: 10px;
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    color: #d9e1e8;
    font-size: 25px;
    line-height: 20px;
    cursor: pointer;
    z-index: 3;
}

.menu:hover {
    color: #168cff;
}

.iconeCarro {
    width: 60px;
    height: 60px;
    object-fit: contain;
}

.iconelixeira {
    width: 20px;
    height: 20px;
    object-fit: contain;
    filter: invert(30%) sepia(90%) saturate(2500%) hue-rotate(345deg);
}
.circuloCarro {
    position: relative;
    width: 112px;
    height: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #52677b;
    border-radius: 50%;
    font-size: 55px;
    filter: grayscale(1);
    color: #f0f4f7;
}

.titulo {
    margin-top: 8px;
    margin-bottom: 12px;
    color: #f4f7fa;
    font-size: 18px;
}

.informacao {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
    color: #e1e7ed;
    font-size: 13px;
}

.informacao span {
    width: 18px;
    color: #f0f4f7;
    font-size: 16px;
    text-align: center;
}